.navbar{
    height: 40px;
    background-color: #992439;
    width: 100%;

    display: flex;
    justify-content: center;
    z-index: 1;

  }


.li-nav {
    display: none;
}


.li-nav1 {
    display: none;
}

.menu_svg {
    width: 30px; 
    height: 20px; 
    flex-shrink: 0;
    background: url('./static/menu.svg') no-repeat;
    background-size: cover;

    position: absolute;
    right: 20px; 
    top: 10px; 
}

.logo{
    position: absolute;
    left: 3vw;
    
}

.logo-img{
    height: 3vw;
    width: auto;

}

.div_main {
    max-width: 100%;
    background: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Выравнивание контента по верху */
    height: auto; /* Удалите жестко заданную высоту */
    position: relative;
}

.image-container {
    width: 90%; /* Регулируйте ширину контейнера по вашему усмотрению */
    position: relative;
    max-width: 100%;
    width: 100%;
}

.iitu_photo {
    width: 100%;
    height: auto; /* Автоматическое изменение высоты для сохранения пропорций */
    object-fit: contain; /* Сохранение пропорций и помещение изображения внутри контейнера */
    position: absolute;
    top: 0;
    left: 0;
}

.text_main {
    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000;
    font-family: 'SF Pro Display', sans-serif;
    font-size:6vw;
    font-weight: 400;
    line-height: normal;
}

.text_main_2 {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #454545;
    font-family: 'Proxima Nova', sans-serif; /* Укажите шрифт 'Proxima Nova' и, если он недоступен, используйте системные шрифты sans-serif */
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    top: 3vw;
}

.text_1 {
    

    position: absolute;
    top: 130vw;
    right: 10px;
    margin: 5vw;
}
.text_2 {
    

    position: absolute;
    top: 148vw;
    right: 10px;
    margin: 5vw;
}

.div_get_c {
    width: 80%;
    height: 15vw;
    border-radius: 1.25vw;
    background: #8F1812;
    box-shadow: 0px 0px 6vw 0px rgba(0, 0, 0, 0.10);

    align-items: center;
    text-align: center;
    
    position: relative;
    top: 195vw;
    right: 10vw;
    left: 10vw;
}

.text_get_c {
    
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif; /* Укажите шрифт 'SF Pro Display' и, если он недоступен, используйте системные шрифты sans-serif */
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: 4vw;

    text-decoration: none;
}