body{
    margin: 0;
    padding: 0;

    font-family: 'Montserrat';
}
.container {
    width: 72.91vw;
  }


  .navbar{
    height: 3.5vw;
    background-color: #992439;
    width: 100%;

    display: flex;
    justify-content: center;

  }

  #link-nav {
    font-size: 1.1vw;
    color: #d3d3d3;
    text-decoration: none;
    list-style-type:  none;
    

    display: inline;
    


  }
  .li-nav{
    display: inline;
    margin-left: 4vw;

    text-align: center;
  } 
  .li-nav:first-child {
    margin-left: 0;
  }
  




  .logo{
    position: absolute;
    left: 3vw;
    
  }

  .logo-img{
    height: 1.7vw;
    width: auto;

  }

  .nav-center{
    display: flex;
    justify-content: center;
    flex-direction: column;

  }

  .navbar a:hover {
    color: rgb(255, 255, 255);
  }

 .navbar a.active {
    color: #fff;
    font-weight: bold;
  }

  .lang{
 
    position: absolute;
    right: 2vw;

  }

.menu-icon {
    display: none; 
}

.div_main {
  display: none; 
}

@media screen and (min-width: 751px) {
  .div_get_c {
      display: none; /* Скрываем текст на экранах с шириной больше 750px */
  }
}